body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background:black;
}
h1{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #697565;
    background-position: d;
    color: #ECDFCC;
    opacity: .9;
}